svg {
  width: 20em;
  height: 20em;
  background: #eee;
}

rect {
  fill: blue;
}

.label {
  font-family: sans-serif;
  font-size: 1em;
}

.nbr {
  fill: blue;
  font-family: sans-serif;
  font-size: 1.2em;
}